<div *ngIf="cartItems.length===0" class="navbar-nav d-flex">
    <li class="dropdown me-2">
        <a class="nav-link dropdown-toggle me-2" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Sepetiniz boş
        </a>
    </li>
</div>
<div *ngIf="cartItems.length>0" class="navbar-nav d-flex">
    <li class="dropdown me-2">
        <a class="nav-link dropdown-toggle me-2" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Sepetiniz
        </a>

        <ul class="dropdown-menu me-2" aria-labelledby="navbarDropdown">

            <li *ngFor="let cartItem of cartItems"><a class="dropdown-item"><span
                        class="badge bg-secondary">{{cartItem.quantity}}</span> x {{cartItem.product.productName}}
                    <span class="badge bg-warning " (click)="removeFromCart(cartItem.product)">Sil</span></a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item">Sepete git</a></li>


        </ul>


    </li>
</div>